<h1 style="float:left"><%= @user.name %></h1>
<div class="h3" style="float:right; margin: 40px 5px 0"><%= link_to 'アカウントを編集', edit_user_registration_path, class: 'btn btn-primary' if @user == current_user %></div>
<p style="clear: both;"><%= @user.name %></p>
