// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// post image user edit
.post-image-user-edit {
  background-image: url('user_lgray.png');
  width: 140px;
  height: 140px;
}

.post-image-user-edit-control {
  padding: 0 3px 5px 3px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

// post image user

.post-image-user {
  background-image: url('user_lgray.png');
  display: inline-block;
  top: 0.25em;
  width:  1.4em;
  height: 1.4em;
}
